<div id="<%= dom_id job %>">
  <div>
    <strong>Title:</strong>
    <%= job.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= job.description %>
  </div>

  <div>
    <strong>Min salary:</strong>
    <%= job.min_salary %>
  </div>

  <div>
    <strong>Embedding:</strong>
    <%= job.embedding %>
  </div>

  <div>
    <strong>#:</strong>
    <%= job.# %>
  </div>

  <div>
    <strong>Openaiの次元数:</strong>
    <%= job.OpenAIの次元数 %>
  </div>

</div>
